<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
</head>
<body>
    <h1>Listar todas as classes</h1>
    <ul id="lista-classes"></ul>
    <p>Alterar classes</p>
    <ul id="alterar-classes"></ul>
    <p>Deletar classes</p>
    <ul id="deletar-classes"></ul>
    <p>Atualizar classes</p>
    <ul id="atualizar-classes"></ul>
    <button onclick="goBack()">Voltar</button>
</body>
<script>
    function goBack() {
        window.history.back();}
</script>
</html>