<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipamentos</title>
    <style>
    </style>
</head>
<body>
    <h1>Listar todas as armas</h1>
    <ul id="lista-armas"></ul>
    <p>Alterar armas</p>
    <ul id="alterar-armas"></ul>
    <p>Deletar armas</p>
    <ul id="deletar-armas"></ul>
    <p>Atualizar armas</p>
    <ul id="atualizar-armas"></ul>
    
    <h2>Listar todas as armaduras</h2>
    <u1><ul id="lista-armaduras"></u1>
    <p>Alterar armaduras</p>
    <ul id="alterar-armaduras"></ul>
    <p>Deletar armas</p>
    <ul id="deletar-armaduras"></ul>
    <p>Atualizar armas</p>
    <ul id="atualizar-armaduras"></ul>
    <button onclick="goBack()">Voltar</button>
</body>
<script>
function goBack() {
    window.history.back();}
</script>
</html>
