<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>magias</title>
</head>
<body>
    <h1>Listar todas as magias</h1>
    <ul id="lista-magias"></ul>
    <p>Alterar magias</p>
    <ul id="alterar-magias"></ul>
    <p>Deletar magias</p>
    <ul id="deletar-magias"></ul>
    <p>Atualizar magias</p>
    <ul id="atualizar-magias"></ul>
    <button onclick="goBack()">Voltar</button>
</body>
<script>
      function goBack() {
        window.history.back();}
</script>
</html>