<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Personagens de D&D</title>
</head>
<body>
    <h1>API de Personagens de D&D</h1>

    <h2>Opções:</h2>
    <ul>
        <li><a href="/views/personagens.ejs">Listar todos os personagens</a></li>
        <li><a href="/views/racas.ejs">Listar todas as raças</a></li>
        <li><a href="/views/classes.ejs">Listar todas as classes</a></li>
        <li><a href="/views/equipamentos.ejs">Listar todos os equipamentos</a></li>
        <li><a href="/views/magias.ejs">Listar todas as magias</a></li>
    </ul>
</body>
</html>
