<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personagens</title>
</head>
<body>
    <h1>Listar todas os personagens</h1>
    <ul id="lista-personagens"></ul>
    <p>Alterar personagens</p>
    <ul id="alterar-personagens"></ul>
    <p>Deletar personagens</p>
    <ul id="deletar-personagens"></ul>
    <p>Atualizar personagens</p>
    <ul id="atualizar-personagens"></ul>
    <button onclick="goBack()">Voltar</button>
</body>
<script>
    
    function goBack() {
        window.history.back();}
</script>
</html>