<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Personagens de D&D</title>
</head>
<body>
    <h1>API de Personagens de D&D</h1>

    <h2>Opções:</h2>
    <ul>
        <li><a href="/api/personagens">Listar todos os personagens</a></li>
        <li><a href="/api/racas">Listar todas as raças</a></li>
        <li><a href="/api/classes">Listar todas as classes</a></li>
        <li><a href="/api/armas">Listar todas as armas</a></li>
        <li><a href="/api/armaduras">Listar todas as armaduras</a></li>
        <li><a href="/api/magias">Listar todas as magias</a></li>
    </ul>
</body>
</html>
