<%- include('layout', { title: 'Raças', content: `
<main>
  <button onclick="history.back()">Voltar</button> <!-- Botão de Voltar -->
  <h1>Lista de Raças</h1>
  <ul>
    <% if (racas.length > 0) { %>
      <% racas.forEach(function(raca) { %>
        <li><%= raca.nome %> - <%= raca.descricao %></li>
      <% }); %>
    <% } else { %>
      <li>Nenhuma raça encontrada.</li>
    <% } %>
  </ul>
</main>
` }) %>
